body {
    width: 500px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-image: url(https://wallpapers.com/images/hd/schematic-physics-equations-8cq4y1nzy9jkrmqe.jpg);
    background-color: black;
    filter: blur(10);
  }
  
  .calculator {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgb(61, 61, 61);
    border-radius: 50px;
    background-color: #202020;
    border: px solid #000000;
  }
  
  .input {
    border: 1px solid #000000;
    border-radius: 30px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    color: white;
    transition: all .2s ease-in-out;
  }
  
  .input:hover {
    border: 1px solid #000000;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  .buttons {}
  
  .operators {}
  
  .operators div {
    display: inline-block;
    border: 1px solid #000000;
    width: 80px;
    text-align: center;
    padding: 8px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ff8800;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .operators div:hover {
    background-color: #ff8800;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #686868;
  }
  
  .operators div:active {
    font-weight: bold;
  }
  
  .leftPanel {
    display: inline-block;
  }
  
  .numbers div {
    display: inline-block;
    color: white;
    border: 1px solid #000000;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 15px 4px 10px 0;
    cursor: pointer;
    border-radius: 100px;
    background-color: #000000;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .numbers div:hover {
    background-color: #000000;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: 1px solid #ffffff;
  }
  
  .numbers div:active {
    font-weight: bold;
  }
  
  div.equal {
    display: inline-block;
    border: 1px solid #ff8800;
    border-radius: 1px;
    width: 17%;
    text-align: center;
    padding: 129px 8px;
    margin: 14px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    border-radius: 100px;
    background-color: #ff8800;
    transition: all .2s ease-in-out;
  }
  
  div.equal:hover {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #000000;
  }
  
  div.equal:active {
    font-weight: bold;
  }

  #text {
    background-color: #363636;
    color: #ffffff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;

  }